body, #root{
  height: 100vh;
}
body{
  background: -webkit-radial-gradient(50px 220px, #ffda75 18%,#ff3a49 43%,#ff3a49 50%,#e518a1 70%,#6634e1 100%);
}

h1{
  font-size: 25px;
  text-align: center;
}

#root{
  max-width: 880px;
  margin: auto;
  color: #fff;
  text-align: center;
}

.dateLine{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dateButton{
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  cursor: pointer;
}
